body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #FFFC9B;
}

header {
    text-align: center;
    background-color: #BC7FCD;
    color: #fff;
    padding: 10px 0;
}

header h1 {
    font-size: 36px;
}

header p {
    font-size: 18px;
    margin-top: 10px;
}

h2 {
    text-align: center;
    background-color: #E78895;
    color: #fff;
    padding: 10px 0;
}
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

input[type="text"] {
    width: calc(100% - 120px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2980b9;
}

.weather-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.weather-component {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.weather-component:hover {
    transform: translateY(-5px);
}

.weather-component h2 {
    margin: 0;
    font-size: 24px;
    color: #333;
}

.weather-icon img {
    width: 100px;
    height: 100px;
}

.weather-details {
    text-align: center;
}

.weather-details p {
    margin: 5px 0;
    color: #555;
    font-size: 16px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #3498db;
    color: #fff;
    padding: 5px ;
}

